<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>SessionTracking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>URL_rewriting</display-name>
    <servlet-name>URL_rewriting</servlet-name>
    <servlet-class>urlRewriting.URL_rewriting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>URL_rewriting</servlet-name>
    <url-pattern>/url_rewriting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookiesExample</display-name>
    <servlet-name>CookiesExample</servlet-name>
    <servlet-class>cookies.CookiesExample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookiesExample</servlet-name>
    <url-pattern>/cookiesExample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cookies2</display-name>
    <servlet-name>Cookies2</servlet-name>
    <servlet-class>cookies.Cookies2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookies2</servlet-name>
    <url-pattern>/cookies2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>url2</display-name>
    <servlet-name>url2</servlet-name>
    <servlet-class>urlRewriting.url2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>url2</servlet-name>
    <url-pattern>/url2</url-pattern>
  </servlet-mapping>
  
 
</web-app>